body {
    background-color: rgb(240, 240, 240);
    margin-top: 5%;
    font-family: 'Montserrat', sans-serif;
    font-size: larger;
}

span {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    display: flex;    
    justify-content: center;
    max-width: 300px;
    margin: auto;

    color: rgb(77, 224, 77);
}